.projects-main {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.projects-main h1 {
    text-align: center;
}

.projects-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 30px;
    margin-top: 40px;
    width: 75%;
    max-width: 1400px;
}
