.project-link {
    text-decoration: none;
    color: inherit;
}

.project-card {
    /* border: 1px solid #ccc; */
    padding: 10px;
    cursor: pointer;
    transition: transform 0.2s ease, border 0.2s ease;
    position: relative;
    z-index: 1;
}

.project-card:active,
.project-card:focus-within {
    z-index: 100;
}

.project-card:hover {
    transform: scale(1.05);
    outline: 3px solid #ff9600;
    border: none;
    animation: glowRotate 2s linear infinite;
}

@keyframes glowRotate {
    0% {
        box-shadow: 0 -5px 25px rgba(255, 150, 0, 0.9),
            5px 0 15px rgba(255, 150, 0, 0.3), 0 5px 15px rgba(255, 150, 0, 0.3),
            -5px 0 15px rgba(255, 150, 0, 0.3);
    }
    25% {
        box-shadow: 0 -5px 15px rgba(255, 150, 0, 0.3),
            5px 0 25px rgba(255, 150, 0, 0.9), 0 5px 15px rgba(255, 150, 0, 0.3),
            -5px 0 15px rgba(255, 150, 0, 0.3);
    }
    50% {
        box-shadow: 0 -5px 15px rgba(255, 150, 0, 0.3),
            5px 0 15px rgba(255, 150, 0, 0.3), 0 5px 25px rgba(255, 150, 0, 0.9),
            -5px 0 15px rgba(255, 150, 0, 0.3);
    }
    75% {
        box-shadow: 0 -5px 15px rgba(255, 150, 0, 0.3),
            5px 0 15px rgba(255, 150, 0, 0.3), 0 5px 15px rgba(255, 150, 0, 0.3),
            -5px 0 25px rgba(255, 150, 0, 0.9);
    }
    100% {
        box-shadow: 0 -5px 25px rgba(255, 150, 0, 0.9),
            5px 0 15px rgba(255, 150, 0, 0.3), 0 5px 15px rgba(255, 150, 0, 0.3),
            -5px 0 15px rgba(255, 150, 0, 0.3);
    }
}

.project-image-placeholder {
    width: 100%;
    height: 150px;
    background-color: #e0e0e0;
    margin-bottom: 10px;
    overflow: hidden;
}

.project-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.project-title {
    margin: 0;
    text-align: center;
}
